# Python
backend/venv/
__pycache__/
*.pyc


# Django
db.sqlite3
.env

# Node / React Native
node_modules/

# Android
android/.gradle/
android/app/build/

# OS
.DS_Store
Thumbs.db
backend/backend/media/
backend/backend/api/ml/quality.h5
backend/backend/api/ml/commercial.h5
backend/backend/api/ml/variety.h5
